/* Editing Course Selections */

#planner>tbody>tr>td:nth-child(2){
    padding-left: 42px;
}

/* Container not ugly af */
#listingWrapper{
    border: none;
    background: white;
    /* Full Length */
    height: 745px;
    /* Allow internal absolutes */
    position: relative;
}
/* Remove excess spacing around selection content */
div#listingWrapper #listing{
    margin: 0;
    width: 225px;
}

#listing ul, #listing h5{
    /*display: none;*/
}

/* Hide Navigation */
#breadcrumbs{
    display: none;
}

/* Make the current title not ugly af */
#currentlevel{
    border:none;
    background: none;
    margin:0;
    padding:0;
    /* fuck it */
    display: none;
}

/* Create Card Div*/
p.message.center{
    height: 0px;
    border: none;
    border-bottom: 1px solid rgb(194,194,194);
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 100%;
}

/* Generated lecture section listings */
.sectionListing{
    color: rgb(27, 27, 27);
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 300;
    cursor: pointer;
}
.sectionListing .sectionLocation{
    float: left;
    color: rgb(82, 82, 82);
    font-size: 0.8em;
}
.sectionListing .sectionLetter{
    float: right;
    color: rgb(82, 82, 82);
    font-size: 0.8em;
}
.sectionListing .sectionTeacher{
    padding: 5px 0;
    font-size: 1.7em;
}
.sectionListing .sectionDays{
    float: left;
    font-size: 1.3em;
    border-right: 1px solid rgb(82, 82, 82);
    padding-right: 11px;
}
.sectionListing .sectionTime{
    float: left;
    color: rgb(82, 82, 82);
    font-size: 1.3em;
    padding-left: 11px;
}
.sectionListing .sectionTime .fa{
    position: relative;
    top: -1px;
    font-size: 0.7em;
    color: rgb(82, 82, 82);
}

/* cardTitle Section Information */
#cardTitle{

}
/* CSE12 */
#cardTitle .courseAbbreviation {
    font-weight: 300;
    font-size: 32px;
    color: rgb(27, 27, 27);
    margin-bottom: 7px;
}
/* Data Structs & OO Design */
#cardTitle .courseName{
    font-weight: 100;
    font-size: 15px;
    color: rgb(27, 27, 27);
    margin-bottom: 7px;
}
/* Data Structs & OO Design */
#cardTitle .courseProfessor{
    font-weight: 100;
    font-size: 15px;
    color: rgb(27, 27, 27);
    margin-bottom: 7px;
}
/* Container for the section information */
#cardTitle .courseSection{
    margin-top: 20px;
    /* Hacky af for the bottom border */
    padding-bottom: 10px;
    margin-bottom: 15px;
}
/* Lecture A */
#cardTitle .courseSection .sectionLetter{
    float: left;
    font-size: 0.8em;
    font-weight: 100;
    color: rgb(82, 82, 82);
}
/* Little pencil icon to change lecture */
#cardTitle .courseSection .changeSectionButton{
    float: right;
    font-size: 1em;
    color: #0091EA;
    cursor: pointer;
    display: none;
}
/* MWF */
#cardTitle .courseSection .sectionDays{
    float: left;
    padding-right: 11px;
    margin: 5px 0;
    border-right: 1px solid rgb(82, 82, 82);
    font-size: 1.3em;
    font-weight: 300;
}
/* Final Date ex. June 05, 2015 */
#cardTitle .courseSection .sectionDate{
    float: right;
    color: rgb(82, 82, 82);
    font-size: 0.8em;
    font-weight: 100;
}
/* 8:00 -> 8:50 AM */
#cardTitle .courseSection .sectionTime{
    float: left;
    padding-left: 11px;
    margin: 5px 0;
    font-size: 1.3em;
    font-weight: 300;
}
/* Pepper Canyon - 111 */
#cardTitle .courseSection .sectionLocation{
    font-size: 0.8em;
    font-weight: 100;
    color: rgb(82, 82, 82);
    margin-bottom: 5px;
}